<!--<div class="food-link">-->
<!--    <img src="../../assets/Food-Ingredients.jpg" class="background-image"/>-->
<!--    <div class="on-image details">-->
<!--+&lt;!&ndash;        <h3>Cart</h3>&ndash;&gt;-->

<!--&lt;!&ndash;        <p>&ndash;&gt;-->
<!--&lt;!&ndash;            <a routerLink="/shipping">Shipping Prices</a>&ndash;&gt;-->
<!--&lt;!&ndash;        </p>&ndash;&gt;-->
<!--        <p>Your Ingredient List</p>-->
<!--        <div class="cart-item" *ngFor="let item of items">-->
<!--&lt;!&ndash;            <span>{{ item.name }}</span>&ndash;&gt;-->
<!--        </div>-->

<!--&lt;!&ndash;        <form [formGroup]="checkOutForm" (ngSubmit)="onSubmit()">&ndash;&gt;-->

<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="name">&ndash;&gt;-->
<!--&lt;!&ndash;                    Name&ndash;&gt;-->
<!--&lt;!&ndash;                </label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input id="name" type="text" formControlName="name">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->

<!--&lt;!&ndash;            <div>&ndash;&gt;-->
<!--&lt;!&ndash;                <label for="address">&ndash;&gt;-->
<!--&lt;!&ndash;                    Address&ndash;&gt;-->
<!--&lt;!&ndash;                </label>&ndash;&gt;-->
<!--&lt;!&ndash;                <input id="address" type="text" formControlName="address">&ndash;&gt;-->
<!--&lt;!&ndash;            </div>&ndash;&gt;-->
<!--&lt;!&ndash;            <button class="button" type="submit">Purchase</button>&ndash;&gt;-->

<!--&lt;!&ndash;        </form>&ndash;&gt;-->
<!--    </div>-->
<!--</div>-->