<div class="navigateButtons">
    <button *ngIf="showSearchForm" class="buttons styled-button" (click)="showUserList()">{{ showListText }}
    </button>
    <button class="buttons styled-button" (click)="toggleSearchForm()">{{ AddOrRemoveIngredients }}</button>
    <button class="buttons styled-button" (click)="addItems()">add items</button>
    <br>
</div>



<div *ngIf="showSearchForm">
    <div class="overlay">
        <div [hidden]="!this.showSearchForm">
            <form (ngSubmit)="onSearchIngredient(searchForm)" #searchForm="ngForm">
                <input type="text" name="search" ngModel required>
                <button type="submit" class="search-button styled-button">{{ searchButtonText }}</button>
            </form>
            <div class="buttons-container">
                <button *ngFor="let ingredient of ingredients"
                        class="item-button"
                        [ngClass]="{'active': selectedIngredients.includes(ingredient), 'user-item': isInUserList(ingredient)}"
                        (click)="toggleSelection(ingredient)">
                    <a type="button" (click)="addToDataBase(ingredient)"> {{ ingredient.id }}</a>
                </button>
            </div>
        </div>
    </div>
</div>

<!--<div *ngIf="showSearchForm">-->
<!--    <div class="overlay">-->
<!--        <div [hidden]="!this.showSearchForm">-->
<!--            <form (ngSubmit)="onSearchIngredient(searchForm)" #searchForm="ngForm">-->
<!--                <input type="text" name="search" ngModel required>-->
<!--                <button type="submit" class="search-button styled-button">{{ searchButtonText }}</button>-->
<!--            </form>-->
<!--            <div class="buttons-container">-->
<!--                <button *ngFor="let ingredient of ingredients"-->
<!--                        class="item-button"-->
<!--                        [ngClass]="{'active': selectedIngredients.includes(ingredient)}"-->
<!--                        (click)="toggleSelection(ingredient)">-->
<!--                    <a type="button" (click)="addToDataBase(ingredient)"> {{ ingredient.id }}</a>-->
<!--                </button>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<br>
<div class="add-or-remove" [hidden]="showSearchForm">
    <form class="add" (ngSubmit)="onAddIngredient(addForm)" #addForm="ngForm">
        <label>Ingredient:</label>
        <input type="text" name="ingredient" [(ngModel)]="ingredient" required>
        <br>
        <button class="styled-button" type="submit">Add a new ingredient</button>
    </form>
    <br>

    <form class="delete" (ngSubmit)="onDeleteIngredient(deleteForm)" #deleteForm="ngForm">
        <label>Ingredient id:</label>
        <input type="text" name="id" [(ngModel)]="id" required>
        <br>
        <button class="styled-button" type="submit">Delete an ingredient</button>
    </form>
</div>
<ng-template #loginTemplate>
    <app-log-in (loginSuccess)="onLoginSuccess()"></app-log-in>
</ng-template>
