body {
    margin: 0;
}
.background-image {
    width: 100%;
    height: 100%; /* גובה מקסימלי של הדף */
    position: fixed; /* פוזיציית קביעה כדי להבטיח שהתמונה תתיישב באופן נכון בכל עת */
    top: 0;
    left: 0;
    object-fit: cover; /* שטח ריפוד גמיש עבור תמונה */
    z-index: -1; /* איבר התמונה מאחורה של התוכן הראשי */
    opacity: 0.2;
}

.food-link {
    position: relative;
}

.food-link h1,
.food-link em {
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*.on-image {*/
    /*position: absolute;*/
    /*transform: translate(-50%, -50%);*/
    /*font-weight: bold;*/
    /*text-align: center;*/
    /*text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
    /*top: 15%;*/
    /*left: 50%;*/
/*}*/

/*-------------global--------------*/

/*.home-button {*/
/*    top: 70%;*/
/*    left: 50%;*/
/*}*/


.food-link {
    position: relative;
    text-align: center;
}

a {
    cursor: pointer;
    color: #7f3535;
    text-decoration: none;
}

p{
    color: #4f4738;
    font-size: 20px;
}

a:hover {
    opacity: 0.5;
}

/* Input */

input {
    font-size: 28px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #7f3535;
}

label {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

app-top-bar h1 {
    color: white;
    margin: 0;
}

.recipe-image {
    width: 300px;
    height: 250px;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.recipe-image:hover {
    transform: scale(1.1);
}

.svg {
    width: 80px;
    display: flex;
}

.svg-icon {
    transition: fill 0.3s;
}

.svg-icon:hover {
    fill: red;
}

.svg-icon.active {
    fill: red;
}

/*----------delete add--------------*/
.add {
    border: 3px solid #7f3535;
    /*position: absolute;*/
    /*top: 30%;*/
    /*left: -75%;*/
    width: 500px;
    padding: 20px;
}

.delete {
    border: 3px solid #7f3535;
    position: absolute;
    /*top: 350%;*/
    /*left: -75%;*/
    width: 500px;
    padding: 20px;
}

/*----------log in--------------*/
.log-in {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

/*--------------------------*/
@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    p,
    input,
    .button,
    button {
        font-size: 20px;
    }

    .on-image {
        font-size: 48px;
    }

    .list-button {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }


    .on-image {
        font-size: 36px;
    }
}

/*----------loading--------------*/
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* רקע כהה חצי שקוף */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* כדי לוודא שהאייקון יהיה מעל כל תוכן אחר */
}
/*----------Button--------------*/
.styled-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    margin: 5px;
    border-radius: 20px; /* שינוי המסגרת לעיגול */
    font-size: 26px;
    cursor: pointer;
    background-color: #ad8271;
    color: #0a0a0a;
    border: 2px solid transparent; /* מסגרת עם צבע שקוף */
    transition: opacity 0.3s ease, border-color 0.3s ease; /* אפקט מעבר */
    font-weight: bold;
}

.top-bar-button {
    background-color: #ee3c06;
    color: #eeae38;
}

.styled-button:hover {
    opacity: 0.5; /* שקיפות על מעבר עכבר */
    border-color: #7f3535; /* שינוי צבע המסגרת לשקוף */
}

.styled-button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.buttons {
    background-color: #f1ca75;
    color: #131313;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* רווח בין הכפתורים */
    margin-top: 20px; /* רווח מלמעלה (אופציונלי) */
    position: relative;
    width: 100%;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

.button:hover {
    opacity: 0.5;
    font-weight: inherit;
}
.back-button{
    display: flex;
    justify-content: left;
}

.on-food-image {
    position: absolute;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /*top: 20%;*/
    top: 200px;
    left: 5%;
}


.like-dislike {
    position: absolute;
    bottom: 10px; /* מרחק מתחת לתוכן הכרטיסייה */
    left: 70px; /* מרחק משמאל לתוכן הכרטיסייה */
    right: 70px; /* מרחק מימין לתוכן הכרטיסייה */
    display: flex;
    align-items: center; /* יישור אנכי */
    justify-content: space-between; /* מרחק שווה בין האייקונים */
}

.like-dislike a {
    display: flex;
    align-items: center; /* יישור אנכי לאייקון */
    text-decoration: none; /* ללא קישור */
    color: #7f3535; /* צבע טקסט */
    transition: fill 0.3s; /* אנימציה עבור הצבע */
}

.svg-icon {
    width: 30px; /* גודל האייקון */
    height: 30px;
}

.svg-icon.active {
    fill: red; /* צבע האייקון במצב של "אהבתי" */
}

.like-dislike a:hover .svg-icon {
    fill: red; /* צבע האייקון בעת לחיצה */
}

/*.items-list {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    padding-top: 100px;*/
/*}*/

.overlay {
    position: relative; /* Adjust to absolute or fixed if needed */
    transform: translateX(-50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top:100px; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 900px;
    border-radius: 20px;
    background-color: rgba(248, 236, 211, 0.9); /* Semi-transparent background */
    z-index: 1000; /* Ensure it's above other content */
    padding: 20px; /* Inner padding */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
}
.navigateButtons{
    position: relative;
    padding: 10px;
    top: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.styled-button-new {
    background-color: #d5af70;
    color: white;
    font-size: 24px;
    border: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-button-new:hover {
    background-color: #d20000;
}

.search-form-new {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.search-form-new input {
    margin: 10px;
    padding: 10px;
    /*margin-bottom: 10px;*/
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 350px;
    max-width: 900px;
}

.buttons-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
    background-color: blanchedalmond;
}

.item-button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 300px;
    min-width: 120px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f8c760;
    cursor: pointer;
    transition: background-color 0.3s;
    overflow: hidden;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
}

.item-button.active {
    background-color: #eca308;
    color: white;
}

.item-button.user-item {
    background-color: #d5b8ac; /* Change this to desired color */
}

.ingredient-name {
    overflow: hidden;
    text-overflow: ellipsis;
    flex-grow: 1;
    margin-right: 10px;
}

.item-button a {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: inherit;
    text-decoration: none;
}

.item-button a:hover {
    color: red;
}

.item-button i.material-icons {
    font-size: 18px;
}
.recipe-grid-new {
    width: 1400px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.recipe-card-new {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 30%; /* שליש עמוד */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* כדי לוודא שהאייקונים יישארו בתחתית */
    text-align: center;
    transition: transform 0.3s;
    position: relative; /* זה חשוב כדי לאפשר את מיקום האייקונים בתחתית הכרטיסייה */
}

.recipe-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 700px;
    /*max-height: 1500px;*/
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* כדי לוודא שהאייקונים יישארו בתחתית */
    text-align: center;
    transition: transform 0.3s;
    position: relative; /* זה חשוב כדי לאפשר את מיקום האייקונים בתחתית הכרטיסייה */
}

.recipe-card-new:hover {
    transform: scale(1.05);
}

.image-container-new {
    width: 100%;
    padding-top: 75%; /* יחס גובה-רוחב של 4:3 */
    position: relative;
    overflow: hidden;
}

.recipe-image-new {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipe-content-new {
    padding: 20px;
    flex-grow: 1; /* זה מבטיח שהמרכיבים יתפסו את כל המקום הנותר */
    list-style-type: none;
}

.recipe-card-new h2 {
    margin: 10px 0;
}

.recipe-card-new ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
    text-align: left;
}

.like-dislike-new {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px 0;
}

.svg-icon-new {
    cursor: pointer;
    transition: fill 0.3s;
}

.svg-icon-new.active path {
    stroke: red;
}

.isntDataSearch-new {
    text-align: center;
    font-size: 1.5em;
    color: #888;
}
.add-or-remove{
    position: relative;
    top: 200px;
    left:35%;
}