/* Global Styles */

/** {*/
/*    font-family: 'Roboto', Arial, sans-serif;*/
/*    color: #7f3535;*/
/*    box-sizing: border-box;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/
body {
    margin: 0;
}
.background-image {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}

.food-image {
    width: 100%;
    height: 300px;
    /*opacity: 0.8;*/
    filter: brightness(55%);
}

.food-link {
    position: relative;
}

.food-link h1,
.food-link em {
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.on-image {
    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: 10%;
    left: 50%;
    /*font-size: 66px;*/
    /*color: #ee3c06;*/
}

.recipes {
    top: 90%;
    left: 50%;
    color: #ccec8b;
    font-size: 30px;
}

.table-container {
    position: absolute;
    top: 80%;
    width: 100%;
    height: 1000px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #d28005 #f8ecd2;
    padding-top: 20px;
}
.recipes-table-container {
    position: absolute;
    top: 15%; /* מרחק של 10% מהחלק העליון */
    left: 50%; /* מיקום באמצע הדף מבחינת רוחב */
    transform: translateX(-50%); /* התאמה למיקום האמצע */
    width: 80%; /* רוחב של 80% */
}

.recipes-table {
    width: 100%;
    /*overflow-y: auto;*/
    scrollbar-width: thin;
    padding-top: 20px;
}

.recipes-table {

    position: absolute;
    transform: translate(-50%, -50%);
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    top: 15%;
    left: 50%;
    font-size: 66px;
    color: #ee3c06;

    margin: 10% auto; /* 10% מחלקו העליון של הדף */
    width: 90%; /* הטבלה תופיע במרכז העמוד, עם רווח של 10% מכל צד */
    height: 800px;
}

a {
    cursor: pointer;
    color: #7f3535;
    text-decoration: none;
}

a:hover {
    opacity: 0.5;
}

/* Input */

input {
    font-size: 28px;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    border: 3px solid #7f3535;
}

label {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 4px;
    display: block;
    text-transform: uppercase;
}

app-top-bar h1 {
    color: white;
    margin: 0;
}

.add {
    border: 3px solid #7f3535;
    position: absolute;
    top: 80%;
    width: 100%;
    padding: 20px;
}

.delete {
    border: 3px solid #7f3535;
    position: absolute;
    top: 350%;
    width: 100%;
    padding: 20px;
}

/*.ingredient-list {*/
/*    border: 2px solid #e7dbc2;*/
/*    margin-right: 10px;*/
/*}*/

.log-in {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 768px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 26px;
    }

    p,
    input,
    .button,
    button {
        font-size: 20px;
    }

    .on-image {
        font-size: 48px;
    }

    /*.home-button {*/
    /*    font-size: 48px;*/
    /*}*/

    .list-button {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 22px;
    }

    /*p,*/
    /*input,*/
    /*.button,*/
    /*button {*/
    /*    font-size: 18px;*/
    /*}*/

    .on-image {
        font-size: 36px;
    }

    /*.home-button {*/
    /*    font-size: 36px;*/
    /*}*/

    /*.list-button {*/
    /*    font-size: 18px;*/
    /*}*/
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #6b6b6b; /* צבע סרגל של פס גלילה */
}

.my-table {
    width: 100%; /* התאמת הרוחב של הטבלה */
}


.custom-row:nth-child(odd) {
    background-color: #f1ca75; /* צבע רקע לשורות אי-זוגיות */
    font-size: 30px;
    margin: 1px;
    padding: 5px;
}

.custom-row:nth-child(even) {
    background-color: #eca308; /* צבע רקע לשורות זוגיות */
    font-size: 30px;
    margin: 1px;
    padding: 5px;
}

/* אופציונלי: שינוי צבע רקע כשמרחפים מעל שורה */
.custom-row:hover {
    background-color: #fdeac4;
}

.my-table .custom-header-row {
    background-color: #e3a18d !important; /* צבע רקע לכותרת */
    font-size: 44px;
    font-weight: bold; /* גופן עבה */
}

.delete-cell {
    display: flex;
    justify-content: flex-end; /* יישור התוכן לסוף התא */
    align-items: center;
}

.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* רקע כהה חצי שקוף */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* כדי לוודא שהאייקון יהיה מעל כל תוכן אחר */
}

.product-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: orange;
    margin-top: 20vh; /* יוצר מרווח בגובה של 20% מגובה העמוד */
}

/*.product-details h2,*/
/*.product-details h3,*/
/*.product-details button {*/
/*    color: #ee3c06; !* Ensure text and button text are orange *!*/
/*    font-size: 40px;*/
/*}*/


.recipe-image {
    width: 300px;
    height: 250px;
    max-width: 90%;
    max-height: 90%;
    object-fit: cover;
    display: block;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.recipe-image:hover {
    transform: scale(1.1);
}


/* Button */
.styled-button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    margin: 10px;
    border-radius: 20px; /* שינוי המסגרת לעיגול */
    font-size: 26px;
    cursor: pointer;
    background-color: #afa5a5;
    color: #0a0a0a;
    border: 2px solid transparent; /* מסגרת עם צבע שקוף */
    transition: opacity 0.3s ease, border-color 0.3s ease; /* אפקט מעבר */
    font-weight: bold;
}

.styled-button:hover {
    opacity: 0.5; /* שקיפות על מעבר עכבר */
    border-color: #7f3535; /* שינוי צבע המסגרת לשקוף */
}

.styled-button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.top-bar-button{
    background-color: #ee3c06;
    color: #eeae38;
}

.buttons{
    background-color: #f1ca75;
    color: #131313;
}
.button-container {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px; /* Adds space between the buttons */

}

.home-button {
    top: 70%;
    left: 50%;
}



.food-link {
    position: relative;
    text-align: center;
}

.background-image {
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: center;
    opacity: 0.2;
}



.mat-header-cell, .mat-cell {
    font-size: 32px; /* גודל הטקסט */
    color: blue; /* צבע הטקסט */
}

.mat-elevation-z8 {
    box-shadow: 0px 5px 5px -3px rgba(0,0,0,0.2), 0px 8px 10px 1px rgba(0,0,0,0.14), 0px 3px 14px 2px rgba(0,0,0,0.12);
}

.my-table {
    width: 100%; /* התאמת הרוחב של הטבלה */
}

.custom-row:nth-child(odd) {
    background-color: #f1ca75; /* צבע רקע לשורות אי-זוגיות */
}

.custom-row:nth-child(even) {
    background-color: #eca308; /* צבע רקע לשורות זוגיות */
}

.custom-row:hover {
    background-color: #fdeac4; /* צבע רקע כשמרחפים מעל שורה */
}

.custom-header-row {
    background-color: #e3a18d !important; /* צבע רקע לכותרת */
    font-size: 28px;
    font-weight: bold; /* גופן עבה */
}

.delete-cell {
    display: flex;
    justify-content: flex-end; /* יישור התוכן לסוף התא */
    align-items: center;
}

.table-container::-webkit-scrollbar-thumb {
    background-color: #6b6b6b; /* צבע סרגל של פס גלילה */
}

/*Button */
.button,
button {
    display: inline-flex;
    align-items: center;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 24px;
    cursor: pointer;
    background-color: #da8765ff;
    color: white;
    border: none;
}

.button:hover,
button:hover {
    opacity: 0.5;
    font-weight: inherit;
}

.button:disabled,
button:disabled {
    opacity: 0.5;
    cursor: auto;
}

.fancy-button {
    background-color: white;
    color: #da8765ff;
}

.isntDataSearch{
    top: 10%;
    left: 35%;
    position: absolute;
    font-size: 56px;
    color: #ee3c06;
    font-weight: bold;
}




/*!* Button *!*/
/*.button,*/
/*button {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    padding: 8px 16px;*/
/*    border-radius: 12px; !* שינוי המסגרת לעיגול *!*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*    background-color: #0850ec;*/
/*    color: white;*/
/*    border: 2px solid transparent; !* מסגרת עם צבע שקוף *!*/
/*    transition: opacity 0.3s ease, border-color 0.3s ease; !* אפקט מעבר *!*/
/*}*/

/*.button:hover,*/
/*button:hover {*/
/*    opacity: 0.5; !* שקיפות על מעבר עכבר *!*/
/*    border-color: #da8765ff; !* שינוי צבע המסגרת לשקוף *!*/
/*}*/

/*.button:disabled,*/
/*button:disabled {*/
/*    opacity: 0.5;*/
/*    cursor: auto;*/
/*}*/



/*!*Button *!*/
/*.button,*/
/*button {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    padding: 8px 16px;*/
/*    border-radius: 2px;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*    background-color: #da8765ff;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*button:hover {*/
/*    opacity: 0.5;*/
/*    font-weight: inherit;*/
/*}*/

/*.button:disabled,*/
/*button:disabled {*/
/*    opacity: 0.5;*/
/*    cursor: auto;*/
/*}*/

/*.fancy-button {*/
/*    background-color: white;*/
/*    color: #da8765ff;*/
/*}*/






/*.list-button {*/
/*    top: 90%;*/
/*    right: -5%;*/
/*    font-size: 34px;*/
/*    color: #ee9a1d;*/
/*    border: 2px solid #eca308;*/
/*    border-radius: 20px;*/
/*    padding: 5px;*/
/*}*/

/*.home-button,*/
/*.list-button {*/
/*    font-size: 66px;*/
/*    color: #ee3c06;*/
/*    border: none;*/
/*    background: none;*/
/*}*/



/*router-outlet + * {*/
/*    padding: 0 16px;*/
/*}*/

/* Text */

/*h1 {*/
/*    font-size: 42px;*/
/*}*/

/*h2 {*/
/*    font-size: 30px;*/
/*}*/

/*h1,*/
/*h2 {*/
/*    font-weight: lighter;*/
/*}*/

/*p {*/
/*    font-size: 80px;*/
/*}*/







/*.fancy-button i.material-icons {*/
/*    color: #da8765ff;*/
/*    padding-right: 4px;*/
/*}*/

/*.product-details button {*/
/*    background-color: transparent;*/
/*    border: 2px solid orange;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*    color: orange;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*.product-details button:hover {*/
/*    background-color: orange;*/
/*    color: white;*/
/*}*/











/*!* Global Styles *!*/

/** {*/
/*    font-family: 'Roboto', Arial, sans-serif;*/
/*    color: #7f3535;*/
/*    box-sizing: border-box;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.background-image {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*    opacity: 0.2;*/
/*}*/

/*.food-image {*/
/*    width: 100%;*/
/*    filter: brightness(55%);*/
/*}*/
/*.recipes-image {*/
/*    width: 100%;*/
/*    opacity: 0.4;*/
/*    position: relative;*/
/*    background-size: cover;*/
/*    background-position: center;*/
/*}*/

/*.food-link {*/
/*    position: relative;*/
/*}*/

/*.food-link h1, .food-link em {*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.on-image {*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*    top: 20%;*/
/*    left: 50%;*/
/*    font-size: 66px;*/
/*    color: #ee3c06;*/
/*}*/

/*.home-button {*/
/*    top: 70%;*/
/*    left: 50%;*/
/*}*/
/*.recipes{*/
/*    top: 90%;*/
/*    left: 50%;*/
/*    color: #ccec8b;*/
/*    font-size: 30px;*/
/*}*/

/*.list-button {*/
/*    top: 90%;*/
/*    right: -5%;*/
/*    font-size: 34px;*/
/*    color: #ee9a1d;*/
/*    border: 2px solid #eca308;*/
/*    border-radius: 20px;*/
/*    padding: 5px;*/
/*}*/

/*.table-container {*/
/*    position: absolute;*/
/*    top: 80%;*/
/*    width: 100%;*/
/*    height: 800px;*/
/*    !*height: calc(100% - 50px); !* הורדנו קצת מהגובה כדי להוסיף מרווח מעל לרשימה *!*!*/
/*    overflow-y: auto;*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: #d28005 #f8ecd2;*/
/*    padding-top: 20px;*/
/*}*/

/*.recipes-table {*/
/*    position: absolute;*/
/*    margin: 10% auto; !* 10% מחלקו העליון של הדף *!*/
/*    width: 80%; !* הטבלה תופיע במרכז העמוד, עם רווח של 10% מכל צד *!*/
/*    overflow-y: auto;*/
/*    scrollbar-width: thin;*/
/*    padding-top: 20px;*/
/*    padding-left: 50px;*/
/*    height: 800px;*/
/*}*/

/*.recipes-table .mat-header-cell, .mat-cell {*/
/*    font-size: 32px; !* גודל הטקסט *!*/
/*    color: blue; !* צבע הטקסט *!*/
/*}*/

/*.home-button, .list-button {*/
/*    font-size: 66px;*/
/*    color: #ee3c06;*/
/*    border: none;*/
/*    background: none;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*}*/


/*router-outlet + * {*/
/*    padding: 0 16px;*/
/*}*/

/*!* Text *!*/

/*h1 {*/
/*    font-size: 42px;*/
/*}*/

/*h2 {*/
/*    font-size: 30px;*/
/*}*/

/*h1, h2 {*/
/*    font-weight: lighter;*/
/*}*/

/*p {*/
/*    font-size: 24px;*/
/*}*/

/*a {*/
/*    cursor: pointer;*/
/*    color: #7f3535;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    opacity: 0.4;*/
/*}*/

/*!* Input *!*/

/*input {*/
/*    font-size: 24px;*/
/*    border-radius: 2px;*/
/*    padding: 8px;*/
/*    margin-bottom: 16px;*/
/*    border: 1px solid #BDBDBD;*/
/*}*/

/*label {*/
/*    font-size: 22px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 4px;*/
/*    display: block;*/
/*    text-transform: uppercase;*/
/*}*/

/*!* Button *!*/
/*.button, button {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    padding: 8px 16px;*/
/*    border-radius: 2px;*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*    background-color: #DA8765FF;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*.button:hover, button:hover {*/
/*    opacity: 0.5;*/
/*    font-weight: inherit;*/
/*}*/

/*.button:disabled, button:disabled {*/
/*    opacity: 0.5;*/
/*    cursor: auto;*/
/*}*/

/*.fancy-button {*/
/*    background-color: white;*/
/*    color: #DA8765FF;*/
/*}*/

/*.fancy-button i.material-icons {*/
/*    color: #DA8765FF;*/
/*    padding-right: 4px;*/
/*}*/

/*app-top-bar h1 {*/
/*    color: white;*/
/*    margin: 0;*/
/*}*/

/*.add {*/
/*    border: 3px solid #7f3535;*/
/*    position: absolute;*/
/*    top: 80%;*/
/*    width: 100%;*/
/*    !*width: 80vw;*!*/
/*    !*top: 80%;*!*/
/*    !*max-width: 400px;*!*/
/*    padding: 20px;*/
/*}*/
/*.delete {*/
/*    border: 3px solid #7f3535;*/
/*    position: absolute;*/
/*    top: 160%;*/
/*    width: 100%;*/
/*    !*width: 80vw;*!*/
/*    !*top: 80%;*!*/
/*    !*max-width: 400px;*!*/
/*    padding: 20px;*/
/*}*/

/*.ingredient-list {*/
/*    border: 2px solid #e7dbc2;*/
/*    margin-right: 10px;*/
/*}*/

/*.log-in {*/
/*    position: absolute;*/
/*    top: 2%;*/
/*    left: 50%;*/
/*    transform: translateX(-50%);*/
/*}*/

/*@media (max-width: 768px) {*/
/*    h1 {*/
/*        font-size: 32px;*/
/*    }*/

/*    h2 {*/
/*        font-size: 26px;*/
/*    }*/

/*    p, input, .button, button {*/
/*        font-size: 20px;*/
/*    }*/

/*    .on-image {*/
/*        font-size: 48px;*/
/*    }*/

/*    .home-button {*/
/*        font-size: 48px;*/
/*    }*/

/*    .list-button {*/
/*        font-size: 24px;*/
/*    }*/
/*}*/

/*@media (max-width: 480px) {*/
/*    h1 {*/
/*        font-size: 28px;*/
/*    }*/

/*    h2 {*/
/*        font-size: 22px;*/
/*    }*/

/*    p, input, .button, button {*/
/*        font-size: 18px;*/
/*    }*/

/*    .on-image {*/
/*        font-size: 36px;*/
/*    }*/

/*    .home-button {*/
/*        font-size: 36px;*/
/*    }*/

/*    .list-button {*/
/*        font-size: 18px;*/
/*    }*/
/*}*/
/*.table-container::-webkit-scrollbar-thumb {*/
/*    background-color: #6b6b6b; !* צבע סרגל של פס גלילה *!*/
/*}*/

/*.my-table {*/
/*    width: 100%; !* התאמת הרוחב של הטבלה *!*/
/*}*/

/*.custom-row:nth-child(odd) {*/
/*    background-color: #f1ca75; !* צבע רקע לשורות אי-זוגיות *!*/
/*}*/

/*.custom-row:nth-child(even) {*/
/*    background-color: #eca308; !* צבע רקע לשורות זוגיות *!*/
/*}*/

/*!* אופציונלי: שינוי צבע רקע כשמרחפים מעל שורה *!*/
/*.custom-row:hover {*/
/*    background-color: #fdeac4;*/
/*}*/

/*.my-table .custom-header-row {*/
/*    background-color: #e3a18d !important; !* צבע רקע לכותרת *!*/
/*    font-size: 28px;*/
/*    font-weight: bold; !* גופן עבה *!*/
/*}*/

/*.delete-cell {*/
/*    display: flex;*/
/*    justify-content: flex-end; !* יישור התוכן לסוף התא *!*/
/*    align-items: center;*/
/*}*/

/*.loading-overlay {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: rgba(0, 0, 0, 0.6); !* רקע כהה חצי שקוף *!*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    z-index: 9999; !* כדי לוודא שהאייקון יהיה מעל כל תוכן אחר *!*/
/*}*/

/*.product-details {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*    color: orange;*/
/*    margin-top: 20vh; !* יוצר מרווח בגובה של 20% מגובה העמוד *!*/
/*}*/


/*.product-details h2, .product-details h3, .product-details button {*/
/*    color: #ee3c06; !* Ensure text and button text are orange *!*/
/*    font-size: 40px;*/
/*}*/

/*.product-details button {*/
/*    background-color: transparent;*/
/*    border: 2px solid orange;*/
/*    padding: 10px 20px;*/
/*    cursor: pointer;*/
/*    color: orange;*/
/*    transition: background-color 0.3s, color 0.3s;*/
/*}*/

/*.product-details button:hover {*/
/*    background-color: orange;*/
/*    color: white;*/
/*}*/


/*!* Global Styles *!*/


/** {*/
/*    font-family: 'Roboto', Arial, sans-serif;*/
/*    !*color: #616161;*!*/
/*    color: #7f3535;*/
/*    box-sizing: border-box;*/
/*    -webkit-font-smoothing: antialiased;*/
/*    -moz-osx-font-smoothing: grayscale;*/
/*}*/

/*.background-image {*/
/*    width: 100%;*/
/*    position: relative;*/
/*    !*height: 100vh; !* גובה של הדף ככל העמוד *!*!*/
/*    !*background-image: url("assets/Food-Ingredients.jpg"); !* URL של תמונת הרקע *!*!*/
/*    background-size: cover; !* שיקוף התמונה כך שתתאים לגודל הדף *!*/
/*    background-position: center; !* מיקום התמונה באמצע הדף *!*/
/*    opacity: 0.2;*/
/*}*/

/*.food-image {*/
/*    width: 100%;*/
/*    !*height: 100%;*!*/
/*    filter: brightness(55%);*/
/*    !*flex-direction: row;*!*/
/*    !*justify-content: space-between;*!*/
/*    !*align-items: center;*!*/
/*}*/

/*.food-link {*/
/*    position: relative;*/
/*}*/

/*.food-link h1, .food-link em {*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*}*/

/*.on-image {*/
/*    position: absolute;*/
/*    transform: translate(-50%, -50%);*/
/*    font-weight: bold;*/
/*    text-align: center;*/
/*    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);*/
/*    top: 40%;*/
/*    left: 50%;*/
/*    font-size: 66px;*/
/*    color: #ee3c06;*/
/*}*/
/*.details{*/
/*    top: 15%;*/
/*}*/
/*.home-button {*/
/*    top: 80%;*/
/*    left: 50%;*/
/*    font-size: 66px;*/
/*    color: #ee3c06;*/
/*}*/

/*.list-button {*/
/*    top: 90%;*/
/*    right: -5%;*/
/*    font-size: 34px;*/
/*    color: #ee9a1d;*/
/*    border: 2px solid #eca308;*/
/*    border-radius: 20px;*/
/*    padding: 5Px;*/
/*}*/

/*body {*/
/*    margin: 0;*/
/*}*/

/*.container {*/
/*    !*display: flex;*!*/
/*    !*flex-direction: row;*!*/
/*}*/

/*router-outlet + * {*/
/*    padding: 0 16px;*/
/*}*/

/*!* Text *!*/

/*h1 {*/
/*    !*font-size: 32px;*!*/
/*    font-size: 42px;*/
/*}*/

/*h2 {*/
/*    !*font-size: 20px;*!*/
/*    font-size: 30px;*/
/*}*/

/*h1, h2 {*/
/*    font-weight: lighter;*/
/*}*/

/*p {*/
/*    !*font-size: 14px;*!*/
/*    font-size: 24px;*/
/*}*/

/*!* Hyperlink *!*/

/*a {*/
/*    cursor: pointer;*/
/*    color: #7f3535;*/
/*    text-decoration: none;*/
/*}*/

/*a:hover {*/
/*    opacity: 0.7;*/
/*}*/

/*!* Input *!*/

/*input {*/
/*    !*font-size: 14px;*!*/
/*    font-size: 24px;*/
/*    border-radius: 2px;*/
/*    padding: 8px;*/
/*    margin-bottom: 16px;*/
/*    border: 1px solid #BDBDBD;*/
/*}*/

/*label {*/
/*    !*font-size: 12px;*!*/
/*    font-size: 22px;*/
/*    font-weight: bold;*/
/*    margin-bottom: 4px;*/
/*    display: block;*/
/*    text-transform: uppercase;*/
/*}*/

/*!* Button *!*/
/*.button, button {*/
/*    display: inline-flex;*/
/*    align-items: center;*/
/*    padding: 8px 16px;*/
/*    border-radius: 2px;*/
/*    !*font-size: 14px;*!*/
/*    font-size: 24px;*/
/*    cursor: pointer;*/
/*    background-color: #DA8765FF;*/
/*    color: white;*/
/*    border: none;*/
/*}*/

/*.button:hover, button:hover {*/
/*    opacity: 0.8;*/
/*    font-weight: normal;*/
/*}*/

/*.button:disabled, button:disabled {*/
/*    opacity: 0.5;*/
/*    cursor: auto;*/
/*}*/

/*!* Fancy Button *!*/

/*.fancy-button {*/
/*    background-color: white;*/
/*    color: #DA8765FF;*/
/*}*/

/*.fancy-button i.material-icons {*/
/*    color: #DA8765FF;*/
/*    padding-right: 4px;*/
/*}*/

/*!* Top Bar *!*/

/*!*app-top-bar {*!*/
/*!*  width: 100%;*!*/
/*!*  height: 68px;*!*/
/*!*  background-color: #E8BF72FF;*!*/
/*!*  padding: 16px;*!*/
/*!*  display: flex;*!*/
/*!*  flex-direction: row;*!*/
/*!*  justify-content: space-between;*!*/
/*!*  align-items: center;*!*/
/*!*}*!*/

/*app-top-bar h1 {*/
/*    color: white;*/
/*    margin: 0;*/
/*}*/

/*!* Checkout Cart, Shipping Prices *!*/

/*.cart-item, .shipping-item {*/
/*    width: 100%;*/
/*    min-width: 400px;*/
/*    max-width: 450px;*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-between;*/
/*    padding: 16px 32px;*/
/*    margin-bottom: 8px;*/
/*    border-radius: 2px;*/
/*    background-color: #f8c760;*/
/*    font-size: 30px;*/
/*}*/

/*.products-table {*/

/*    width: 400px; !* רוחב הטבלה *!*/
/*    border-collapse: collapse; !* מזיק מסגרת בין התאים *!*/
/*    margin: 0 auto; !* מיקום אופקי במרכז העמוד *!*/
/*    !*margin-right: 300px;*!*/
/*    !*align-content: center;*!*/
/*}*/

/*.products-table th, .products-table td {*/
/*    padding: 8px; !* ריווח בין התוכן לשולי התא *!*/
/*    border: 1px solid #ddd; !* גבולות התאים *!*/
/*    text-align: left; !* מידע בתאים מיושר לשמאל *!*/
/*    font-size: 26px;*/
/*}*/

/*.products-table th {*/
/*    background-color: #eca308; !* רקע התאים של הכותרת *!*/
/*    color: #d20000; !* צבע הכותרת *!*/
/*    font-size: 34px;*/
/*    text-align: center;*/
/*}*/

/*.products-table tr {*/
/*    background-color: #f8ecd3; !* רקע התאים של הכותרת *!*/
/*}*/

/*.products-table tr:nth-child(odd) {*/
/*    background-color: #f1ca75; !* Light background color for odd rows *!*/
/*}*/


/*.add, .delete {*/
/*    border: 3px solid #7f3535; !* מסגרת עם צבע אפור נמוך *!*/
/*    width: 400px; !* רוחב הקופסה *!*/
/*    padding: 20px; !* ריווח מסביב לתוכן *!*/
/*    !*background-color: #f9f9f9; !* צבע רקע אפור בהיר *!*!*/
/*}*/

