<div class="food-link">
    <img src="../../assets/food.png" class="food-image">
    <button (click)="onRecipesButtonClick()">Toggle Recipes</button>
    <button (click)="onSearchButtonClick()">{{ searchRecipeText }}</button>
</div>



<!--<img src="../../assets/food.png" height="578" width="1152"/>-->
<!--<a [routerLink]="['/']">-->
<!--  <h1>Smart Cook</h1>-->
<!--</a>-->

<!--<a routerLink="/cart" class="button fancy-button">-->
<!--    <em class="material-icons">shopping_cart</em>Checkout</a>-->

